div.basic {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: basic;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes basic {
    0% {
        background-color: red;
        left: 0;
    }
    25% {
        background-color: yellow;
        left: 100px;
    }
    50% {
        background-color: blue;
        left: 200px;
        border-radius: 50px;
    }
    75% {
        background-color: green;
        left: 100px;
    }
    100% {
        background-color: red;
        left: 0;
    }
}

.tr-button {
    padding: 10px 15px;
    border: 1px black;
    border-radius: 2px;
    background-color: forestgreen;
    transition: 2s ease-in-out;
    color: white;
}

.tr-button:hover {
    border: 5px;
    background-color: teal;
    border-radius: 7px;
    transform: scale(1.2);
}

.cont {
    height: 20vh;
    padding: 2vmin;
    -webkit-filter: contrast(10);
    background-color: white;
    box-sizing: border-box;
}

svg.countdown {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    -webkit-filter: blur(3px);
}