<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reads the metadata of an image file such as JPG and PNG.">
    <title>M152 - Metadata</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body id="body" class="background1">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">M152</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/gallery">Gallery</a>
                <a class="nav-item nav-link" href="/video">Video</a>
                <a class="nav-item nav-link" href="/animations">Animations</a>
                <a class="nav-item nav-link active" href="#">Metadata <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="my-4">Metadata</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>tagName</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${dataList.isEmpty()}">
            <td>Empty</td>
        </tr>
        <tr th:each="data : ${dataList}">
            <td th:text="${data.name}"></td>
            <td th:text="${data.tagName}"></td>
            <td th:text="${data.description}"></td>
        </tr>
    </table>
</div>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>